*.o
*.obj
*.exe
trial_error.cpp
trial_error.h
trialnerror.h
*.txt
pa1plot.py
*.npz
cs4793/pa1/*.pdf
tools/*.dll
*.sln
*.VC.db
*.VC.VC.opendb
tools/Debug/*
testing.cpp
*.vs
bin/*
testing/*
tools/bin/*
tools/*.a
*.dll
*.a
*.exp
*.lib
tools/temp_test*
*.bat
cs4793/pa2/*.pdf
cs4793/progex1/*.pdf
temp/*
tools/password.cpp
tools/password.h
tools/pathcheck.cpp
open_cv/*
